.nav-bar{
 background-color: #fb7968;
    box-shadow: 0px 10px 15px #16161d;
}
.meu-logo{
    width: 60px;
    margin: -5px 0px;
}
.nav-lateral{
    background-color: #f9c593;
    
}
.container-img{
    height: 110px;
    width: 250px;
}
.container{
    
}
.container-lateral{
    
    background-color: aqua;
}